numpy
pandas
seaborn
matplotlib
scikit-learn
catboost
xgboost
ipykernel
dill
flask
# -e . # Uncomment this line if you want to install the package in editable mode

# run pip install -r requirements.txt